<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}OOP | Home{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles/navbar.css" />
    <script src="scripts/scroll.js"></script>
	<link rel="icon" type="image/ico" href="images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>
<body>
    <!-- Navbar starts-->
    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.php"><img src="images/php_oop.png" alt="logo/" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.php">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="productlist.php">Products</a>
                    </li>
                </ul>
                  <div class="d-inline mt-3">
                      <ol class="breadcrumb">

                          <li class="breadcrumb-item"><a href="#">Hello [Guest]</a></li>
                          <li class="breadcrumb-item">
                              <a href="" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-shopping-cart"></i>Cart<span class="badge badge-light">0</span></a>

                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Items in cart</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <table class="container">
                                          <tr>
                                            <th>Product name</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                          </tr>
                                          <tr>
                                            <td>100inch 1000000p ultraHD TV</td>
                                            <td>1</td>
                                            <td>$1.00</td>
                                          </tr>
                                          <tr>
                                            <td colspan="2"></td>
                                            <td><strong>Total:$1.00</strong>
                                          </tr>
                                      </table>
                                    </div>
                                    <div class="modal-footer">
                                      <a href="checkout.php" class="btn btn-success">Check out</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </li>
                      </ol>
                  </div>
                  <div class="dropdown" id="login_resize">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Login or Sign up
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="registration.php">Register now</a>
                      <a class="dropdown-item" href="login.php">Login</a>
                    </div>
                  </div>
            </div>
        </nav>
    </div>
    <!-- search bar -->
    <div class="d-inline mt-3">
        <ol class="breadcrumb">
            <li>
              <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </li>
            <li style="font-family: 'Dancing Script', cursive;">&nbsp;The best online shopping experience!</li>
        </ol>
    </div>
    <!-- Navbar ends-->
    {% block content %}{% endblock %}
    <!--Footer start-->
    <!--<footer class="bg-dark text-center container-fluid">
        <h1>SOMETHING HERE</h1>
        <h1>SOMETHING HERE</h1>
        <h1>SOMETHING HERE</h1>
        <div class="text-right mr-2">
            <div class="float-left text-white">&copy;PHP 2018</div>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </footer> -->
	<footer class="bg-dark text-center container-fluid">
	<div>
	</br>
		<p class="text-muted">&copy; Copyright 2018 BBshop - All rights reserved.</p>
        <div class="text-right mr-2">
            <h5><div class="float-left text-white">BBshop</div></h5>
            <a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
            <a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a>
            <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>          
        </div>
	</div>
    </footer>
    <!-- Footer ends-->
</body>
</html>
