{% extends "main.html"%}

{% block title %}All Products{% endblock %}

{% block content %}
<!-- menu of products -->
<div class="container-fluid mr-5" id="product-category">
  <div class="d-inline float-left">
    <h6 class="dropdown-header">Category</h6>
    <a class="dropdown-item" href="#">Home</a>
    <a class="dropdown-item" href="#">Kitchen</a>
    <a class="dropdown-item" href="#">Bedroom</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Electronics</a>
    <a class="dropdown-item" href="#">Laptop</a>
    <a class="dropdown-item" href="#">Desktop</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Fashion</a>
    <a class="dropdown-item" href="#">Bags</a>
    <a class="dropdown-item" href="#">Shoes</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Toys</a>
    <a class="dropdown-item" href="#">Bikes</a>
    <a class="dropdown-item" href="#">Kids</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Summer</a>
    <a class="dropdown-item" href="#">Floaties</a>
    <a class="dropdown-item" href="#">Camping</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Automotive</a>
    <a class="dropdown-item" href="#">Tires</a>
    <a class="dropdown-item" href="#">Brake cleaner</a>
  </div>
  <table class="table table-borderless d-inline ml-4">
      <tr>
        <td>
          <figure class="figure">
             <a href="productDetail.php"><img src="images/laptop1.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."></a>
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
           <img src="images/laptop2.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/laptop3.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/laptop1.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/laptop2.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
      </tr>

      <tr>
        <td>
          <figure class="figure">
            <img src="images/book1.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/book2.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/book3.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/laptop1.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/laptop2.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
      </tr>

      <tr>
        <td>
          <figure class="figure">
            <img src="images/bag1.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/bag2.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/bag3.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/laptop1.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
        <td>
          <figure class="figure">
            <img src="images/laptop2.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <span class="badge badge-pill badge-warning">Price</span>
            <a href="#" class="badge badge-primary">Add to cart</a>
          </figure>
        </td>
      </tr>
  </table>
</div>
{% endblock %}
