{% extends "main.html"%}

{% block title %}Top Ordered{% endblock %}

{% block content %}
<div id="reg_page" class="container my-5 p-5 border rounded">
	<div class="section outdiv" id="specialities">
 	     <div class="container">
    	  <div class="col-md-12"><h1 class="text-center wow pulse"><span>Our Specialities</span></h1>
    				<p class="sub-headers text-center">Top rated by customers!</p>
			
                <div class="speciality wow fadeIn" data-wow-delay="0.6s">
              
	   
	   
	   
	   
	   <div class="container" id="product-section">
  <div class="row" style="width: 55rem;">
   <div class="col-md-6">
   <div class="spe-prods">
					<div class="mainbox">
					<!-- we can create a for loof for fetching thre top products from DB base on total ordered-->
						<h3>Title</h3>
                        <img class="rotprod" src="images/laptop1.jpg" alt=""/>
					</div>
					<div class="price-big">
						<div>
							<div class="floatting-price">
								<h3>Price from DB</h3>
							</div>
							<div class="month">
								<p>Price</p>
							</div>
						</div>
						<div class="ordersection">
								<a href="order.html" class="buybtn">Order</a>
						</div>
					</div>
				</div> </div>
  
     <div class="col-md-6" >
  <div class="col-md-12">
</div><!-- end row-->
          <div class="row" style="width: 55rem;">
   <div class="col-md-6">
   <div class="spe-prods">
					<div class="mainbox">
						<h3>Title</h3>
                        <img class="rotprod" src="images/laptop1.jpg" alt=""/>
					</div>
					<div class="price-big">
						<div>
							<div class="floatting-price">
								<h3>Price from DB</h3>
							</div>
							<div class="month">
								<p>Price</p>
							</div>
						</div>
						<div class="ordersection">
								<a href="order.html" class="buybtn">Order</a>
						</div>
					</div>
					
					
					
				</div> </div>
   </div class="col-md-6" > 
        </div>
      </div>
</div><!-- end row-->
      </div>	  
	</div>
</div>
</div>
<br/>
</div>
{% endblock %}       