{% extends "main.html" %}
{% block page_title %}Add Task{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-5">
        <img class="d-none d-md-block my-3 img-fluid" src="images/dont-forget.png">
    </div>
    <div class="col-md-7">
        <h1>{{message}}</h1>
        <form action="{{form_action}}" method="POST">
            <div class="form-group">
                <label>Task Name</label>
                <input class="form-control is-invalid" name="name" placeholder="give your task a name" type="text">
                <div class="invalid-feedback">
                    Please provide name for your task.
                </div>
            </div>
            <div class="form-group">
                <label>Description of your task</label>
                <textarea class="form-control" name="description" rows="3"></textarea>
            </div>
            <button class="btn btn-info mt-2" type="submit">Save Task</button>
        </form>
    </div>
</div>
{% endblock %}