{% extends "main.html" %}
{% block page_title %}Today's News{% endblock %}

{% block content %}

<div class="col-lg-8">

        <!-- Left-aligned -->
        
        <div class="media">
                <div class="media-left">
        
                <div class="avatar"> <img src="images/ansa.png" class="media-object" style="width:60px"></div>
            <!-- <div class="iconavatar">
                </div> -->
            
                </div>
                <div class="media-body">
                    <div class="mediabody" >
                  <h4 class="media-heading">name of channel</h4>
                  <p>title of news 1</p>
        
                  <p>title of news 2</p>  <p>title of news 3</p>  <p>title of news 4</p>  <p>title of news 5</p>
                </div>
              
            </div>
              </div>
            
              <div class="media">
                    <div class="media-left">
            
                    <div class="avatar"> <img src="images/ansa.png" class="media-object" style="width:60px"></div>
                <!-- <div class="iconavatar">
                    </div> -->
                
                    </div>
                    <div class="media-body">
                        <div class="mediabody" >
                      <h4 class="media-heading">name of channel</h4>
                      <p>title of news 1</p>
            
                      <p>title of news 2</p>  <p>title of news 3</p>  <p>title of news 4</p>  <p>title of news 5</p>
                    </div>
                  
                </div>
                  </div>
                  <div class="media">
                        <div class="media-left">
                
                        <div class="avatar"> <img src="images/ansa.png" class="media-object" style="width:60px"></div>
                  
                    
                        </div>
                        <div class="media-body">
                            <div class="mediabody" >
                          <h4 class="media-heading">name of channel</h4>
                          <p>title of news 1</p>
                
                          <p>title of news 2</p>  <p>title of news 3</p>  <p>title of news 4</p>  <p>title of news 5</p>
                        </div>
                     
                    </div>
                      </div>
           
        
        </div>


        {% endblock %}