  <div class="py-2 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-3 text-capitalize">My Library</h1>
          <ul class="nav">
            <li class="nav-item">
        			<a class="nav-link" href="index.php">Home</a>
        		</li>
						<li class="nav-item">
        			<a class="nav-link" href="edit_books.php">Create Book</a>
        		</li>
        		<li class="nav-item">
        			<a class="nav-link" href="books.php">List Books</a>
        		</li>
        		<li class="nav-item">
        			<a href="members.php#create" class="nav-link">Create Member</a>
        		</li>
        		<li class="nav-item">
        			<a class="nav-link" href="members.php#list">List Members</a>
        		</li>
        	</ul>
        </div>
      </div>
    </div>
  </div>