RewriteEngine On

#RewriteBase /todolist

# file not found
RewriteCond %{REQUEST_FILENAME} !-f
#directory not found
RewriteCond %{REQUEST_FILENAME} !-d
#symbolic link not found
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule .* index.php [L,QSA]
#QSA to append an existing query string after the URI has been rewritten