body{
 background-image: linear-gradient(#ed8129,#ed9e29);
}

.list{
  list-style: none;

}
.font{
  font-weight: bold;
}
th,td{
  padding: 10px;
}

#mycontainer{
  background-image: url("../images/poke.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

#myNav{
  color: black;
}
