{% extends "main.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <div class="card p-5 bg-secondary">
            <div class="card-body">
              <h1 class="mb-4">Acess Extra Features</h1>
              {% if loginError %}
              <small class="text-warning">Login failed</small>
              {% endif %}
              <form method="post">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-info mt-2">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
