<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon">
  <title>{% block title %}PHP Programming Test{% endblock %}</title>
  <meta name="description" content="This is a the _____ Page">
  <meta name="author" content="Steph Moreau">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="styles/main.css"> </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="Test Logo"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.php">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="form.php">Add</a>
          </li>
          {% if linked %}
          <li class="nav-item">
            <a class="nav-link" href="logout.php">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="login.php">Login</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
  <div class="text-center my-2">
    <div class="container">
      <div class="row">
        <div class="col-12 text-left">
          <h1 class="text-capitalize display-4 font-weight-bold text-m">Don't forget about...</h1>
          <p class="lead text-muted">Create a little list in order to help me not forget about all the things I ususally forget about.</p>
        </div>
      </div>
    </div>
  </div>
{% block content %}
{% endblock %}
  <footer class="footer section-fade-in-out py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>PHP Programming Test</h5>
          <hr class="my-1">
          <div class="row">
            <div class="col-6 col-md-12">
              <ul class="list-unstyled">
                <li>
                  <a href="index.php">Home</a>
                </li>
                <li>
                  <a href="form.php">Create a New Task</a>
                </li>
                {% if linked %}
                <li>
                  <a href="logout.php">Logout</a>
                </li>
                {% else %}
                <li>
                  <a href="login.php">Login</a>
                </li>
                {% endif %}                
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-2 offset-xl-1">
          <h5 class="text-md-right">Create a Task</h5>
          <hr class="my-1">
        </div>
        <div class="col-md-4">
          <form method="post">
            <div class="form-group">
              <label >Task Name</label>
              <input type="text" class="form-control is-invalid" name="task">
              {% if error %}
              <div class="invalid-feedback"> Please provide name for your task. </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label>Description of your task</label>
              <textarea class="form-control" rows="3" name="descript"></textarea>
            </div>
            <button type="submit" class="btn btn-info mt-2">Save Task</button>
          </form>
        </div>
      </div>
    </div>
  </footer>
  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
